body{
    max-width: 600px;
    margin: 0 auto;
    font-family: 'Nunito', sans-serif;
    background-image: linear-gradient(to right bottom, #fffde7, #fbf2cc, #fbe7b2, #fcda98, #ffcc80);;
}
header{
    text-align: center;
    padding: 2em;
}
h1{
    font-size: 2em;
}
h2,h3{
    padding: 1em 0;
}
h2{
    font-size: 1.5em;
}
h3{
    font-size: 1.2em;
}
.tips{
    margin: 2em 0;
}
ol,ul{
    margin-left: 2em;
}
/*bloc code*/
.codebox {
    background-color: #0d0f0d;
    border: 1px solid #C9D2D8;
    font-size: 1em;
    margin: 1em 0 1.2em 0;
    word-wrap: normal;
}
.codebox p {
    color: #dfefba;;
    text-transform: uppercase;
    border-bottom: 1px solid #C9D2D8;
    margin-bottom: 0;
    padding: 3px;
    font-size: 0.8em;
    font-weight: bold;
    display: block;
}
.codebox code {
    color: #dab597;
    overflow: auto;
    display: block;
    height: auto;
    max-height: 200px;
    padding: 5px 3px;
    font: 0.9em Monaco, "Andale Mono","Courier New", Courier, monospace;
    line-height: 1.3em;
}